@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

#quote-box {
  max-width: 600px;
}

p {
  font-size: 1.5rem;
}

button,
a {
  min-width: 100px;
}
